.ql-editor ul[data-checked="true"] li {
  text-decoration: line-through;
}

.ql-editor ul[data-checked="false"] > li::before {
  content: '\2610';
  font-size: 1.5rem;
}

.ql-editor ul[data-checked="true"] li::before {
  content: '\2713';
  font-size: 1.5rem;
}
