.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

.tiny-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.tiny-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.tiny-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgb(190, 190, 190);
}
.tiny-scrollbar::-webkit-scrollbar-track:hover {
  background: rgb(241, 241, 241);
}
.tiny-scrollbar::-webkit-scrollbar-thumb:hover {
  border-radius: 3px;
  background: rgb(85, 85, 85);
}

@media print {
  body * {
    visibility: hidden;
  }

  .document-body,
  .document-body * {
    visibility: visible;
  }

  .document-body {
    page-break-after: always;
    position: unset !important;
    height: fit-content !important;
    left: 0;
    top: 0;
  }

  .document-container {
    position: unset !important;
    height: fit-content !important;
  }
}
