body {
  overflow: hidden !important;
}

.ql-editor {
  padding: 0px !important;
}

.ql-editor.ql-blank::before {
  left: 0px !important;
  right: 0px !important;
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor.ql-blank::before,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  padding: 0px 56px !important;
  border-left: solid 4px transparent;
}

.ql-editor h1 {
  margin: 1.2em 0em !important;
  font-size: 2em !important;
}

.ql-editor h2 {
  margin: 1.0em 0em !important;
  font-size: 1.7em !important;
}

.ql-editor h3 {
  margin: 0.8em 0em !important;
  font-size: 1.4em !important;
}

.ql-editor h4 {
  margin: 0.6em 0em !important;
  font-size: 1.2em !important;
}

.ql-editor h5 {
  margin: 0.4em 0em !important;
  font-size: 1.1em !important;
}

.ql-editor h6 {
  margin: 0.2em 0em !important;
  font-size: 1em !important;
}

.ql-editor h1:hover::before,
.ql-editor h2:hover::before,
.ql-editor h3:hover::before,
.ql-editor h4:hover::before,
.ql-editor h5:hover::before,
.ql-editor h6:hover::before {
  position: absolute !important;
  content: '\B6' !important;
  left: 30px !important;
  color: rgba(64, 160, 255, 0.6) !important;
  cursor: pointer !important;
}

.ql-editor blockquote {
  padding: 0px 60px 0px 56px !important;
}

.ql-editor .ql-indent-1:not(.ql-direction-rtl):not(li) {
  padding-left: calc(56px + 2em) !important;
}

.ql-editor .ql-indent-2:not(.ql-direction-rtl):not(li) {
  padding-left: calc(56px + 4em) !important;
}

.ql-editor .ql-indent-3:not(.ql-direction-rtl):not(li) {
  padding-left: calc(56px + 6em) !important;
}

.ql-editor .ql-indent-4:not(.ql-direction-rtl):not(li) {
  padding-left: calc(56px + 8em) !important;
}

.ql-editor .ql-indent-5:not(.ql-direction-rtl):not(li) {
  padding-left: calc(56px + 10em)  !important;
}

.ql-editor .ql-indent-6:not(.ql-direction-rtl):not(li) {
  padding-left: calc(56px + 12em)  !important;
}

.ql-editor .ql-indent-7:not(.ql-direction-rtl):not(li) {
  padding-left: calc(56px + 14em)  !important;
}

.ql-editor .ql-indent-8:not(.ql-direction-rtl):not(li) {
  padding-left: calc(56px + 16em)  !important;
}

.ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3.5em !important;
}

.ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 5.5em !important;
}

.ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 7.5em !important;
}

.ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 9.5em !important;
}

.ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 11.5em !important;
}

.ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 13.5em !important;
}

.ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 15.5em !important;
}

.ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 17.5em !important;
}

.ql-editor .ql-indent-1.ql-direction-rtl:not(li) {
  padding-right: calc(60px + 2em) !important;
}

.ql-editor .ql-indent-2.ql-direction-rtl:not(li) {
  padding-right: calc(60px + 4em) !important;
}

.ql-editor .ql-indent-3.ql-direction-rtl:not(li) {
  padding-right: calc(60px + 6em) !important;
}

.ql-editor .ql-indent-4.ql-direction-rtl:not(li) {
  padding-right: calc(60px + 8em) !important;
}

.ql-editor .ql-indent-5.ql-direction-rtl:not(li) {
  padding-right: calc(60px + 10em) !important;
}

.ql-editor .ql-indent-6.ql-direction-rtl:not(li) {
  padding-right: calc(60px + 12em) !important;
}

.ql-editor .ql-indent-7.ql-direction-rtl:not(li) {
  padding-right: calc(60px + 14em) !important;
}

.ql-editor .ql-indent-8.ql-direction-rtl:not(li) {
  padding-right: calc(60px + 16em) !important;
}

.ql-editor li.ql-indent-1.ql-direction-rtl {
  padding-right: 3.5em !important;
}

.ql-editor li.ql-indent-2.ql-direction-rtl {
  padding-right: 5.5em !important;
}

.ql-editor li.ql-indent-3.ql-direction-rtl {
  padding-right: 7.5em !important;
}

.ql-editor li.ql-indent-4.ql-direction-rtl {
  padding-right: 9.5em !important;
}

.ql-editor li.ql-indent-5.ql-direction-rtl {
  padding-right: 11.5em !important;
}

.ql-editor li.ql-indent-6.ql-direction-rtl {
  padding-right: 13.5em !important;
}

.ql-editor li.ql-indent-7.ql-direction-rtl {
  padding-right: 15.5em !important;
}

.ql-editor li.ql-indent-8.ql-direction-rtl {
  padding-right: 17.5em !important;
}

.ql-editor pre {
  border-radius: 0px !important;
  padding: 10px 60px 10px 56px !important;
  font-family: monospace !important;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

.tiny-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.tiny-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.tiny-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgb(190, 190, 190);
}
.tiny-scrollbar::-webkit-scrollbar-track:hover {
  background: rgb(241, 241, 241);
}
.tiny-scrollbar::-webkit-scrollbar-thumb:hover {
  border-radius: 3px;
  background: rgb(85, 85, 85);
}
.tiny-scrollbar::-webkit-resizer,
.tiny-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}

@media print {
  body * {
    visibility: hidden;
  }

  .document-body,
  .document-body * {
    visibility: visible;
  }

  .document-body {
    page-break-after: always;
    position: unset !important;
    height: fit-content !important;
    left: 0;
    top: 0;
  }

  .document-container {
    position: unset !important;
    height: fit-content !important;
  }
}
