.theme-default .toolbar-plane-container{
  background: rgb(250, 250, 250);
  border-bottom: solid 1px rgb(205, 205, 205);
}

.theme-default .document-container {
  background-color: rgb(240, 240, 240);
}

.theme-default .document-body {
  border: solid 1px rgb(179, 179, 179);
  background-color: white;
  box-shadow: 0px 0px 20px grey;
}

.theme-default .title-container {
  border-bottom: solid 1px rgb(215, 215, 215);
}

.theme-default .title {
  font-size: 40px;
  font-weight: bold;
}

.theme-default .formula-editor-container {
  border-top: solid 1px #d2d2d2;
  background: #fafafa;
}

.theme-default .ql-snow .ql-editor blockquote {
  margin: 0px !important;
  background: #f7f7f7 !important;
  border-left: 4px solid gray !important;
}

.theme-default .ql-container {
  font-size: 17px !important;
}

.theme-default .ql-toolbar.ql-snow {
  border: none !important;
}

.theme-default .ql-container.ql-snow {
  border: none !important;
}

.theme-default .ql-editor pre {
  background-color: rgb(231, 245, 255) !important;
  border-left: solid 4px rgb(0, 122, 204) !important;
}

.theme-default .ql-editor pre.ql-syntax {
  color: darkslategray !important;
}

.theme-default .ql-editor p,
.theme-default .ql-editor blockquote {
  text-align: justify !important;
}
